language: c
before_install:
    - brew update
    - brew install valgrind
    - git clone https://github.com/jjaniec/libft.git
    - curl http://ix.io/FDo > basic_tests.c
    - curl http://ix.io/FDI > leaks_tests.c
matrix:
    include:
        - os: osx
          compiler: gcc
          env: CXX=gcc
        - os: osx
          compiler: clang
          env: CXX=clang
    allow_failures:
        - os: linux
          compiler: gcc
          env: CXX=gcc
        - os: linux
          compiler: clang
          env: CXX=clang
script: make CC=$CXX re; gcc basic_tests.c libftprintf.a; ./a.out; gcc leaks_tests.c; valgrind --tool=memcheck --leak-check=yes --show-reachable=yes --num-callers=20 --track-fds=yes ./a.out; make curqui_test
